---
layout: home
---
- if site.news
  .row
    .col-md-8.col-md-offset-2
      .panel.panel-default
        .panel-heading
          %h3.text-center.panel-title{ :style=>"font-size:28pt" }
            %i.fa.fa-bullhorn.fa-lg.fa-fw
            Resistance Announcement
        .panel-body.text-center
          %a{ :href=>"#{site.news.url}" }
            #{site.news.text}
.row
  .col-md-4
    %a{ :href=>"#{site.base_url}/ingress" }
      %h2 About Ingress
    %p Ingress is an augmented reality GPS game by Google that is played on smartphones and tablets in the real world.
    %p
      %a.btn-default.btn{ :href=>"#{site.base_url}/ingress" }
        %i.fa.fa-gamepad.fa-2x
        %i.fa.fa-angle-double-right.fa-2x

  .col-md-4
    %a{ :href=>"#{site.base_url}/goal" }
      %h2 Our Goal
    %p Have fun while protecting humanity from the alien Shapers who are attempting to infiltrate Earth and destroy humanity.
    %p
      %a.btn-default.btn{ :href=>"#{site.base_url}/goal" }
        %i.fa.fa-trophy.fa-2x
        %i.fa.fa-angle-double-right.fa-2x

  .col-md-4
    %a{ :href=>"#{site.base_url}/comms" }
      %h2 Communications
    %p How to get in touch with the Resistance.
    %p
      %a.btn-default.btn{ :href=>"#{site.base_url}/comms" }
        %i.fa.fa-phone.fa-2x
        %i.fa.fa-angle-double-right.fa-2x

.row
  .col-md-12
    %hr
    %h3
      %i.fa.fa-youtube-play
      Video: A message from the Resistance
    .flex-video.widescreen
      %iframe{ :allowscriptaccess => "always", :allowFullScreen => "true", :frameborder => "0", :src => "https://www.youtube.com/embed/7WjJE5P3CMM", :title => "YouTube video player" }

