---
layout: base
---
.row
  .col-md-10.col-md-offset-1
    .panel.panel-primary
      .panel-heading
        %h2
          %i.fa.fa-star.fa-spin
          <strong>#INTERITUS</strong> XM ANOMALY EVENT IN MELBOURNE
      .panel-body
        %img.pull-right{ :src=>"/images/interitus64.png" }
        %strong Melbourne has been confirmed as a primary anomaly site for an event on May 17th as part of the <a href="http://google.com/+ingress/about">#INTERITUS</a> XM anomaly series. Find out more via our <a href="/community">Google+ community</a> and/or join the <a href="http://tinyurl.com/mu4kzge">anomaly community</a> to be actively involved in planning, and don't forget to start collecting supplies for what will no doubt be an epic battle!
      .panel-footer.text-right
        .interitus-countdown
.row
  .col-md-4
    %a{ :href=>"#{site.base_url}/ingress" }
      %h2 About Ingress
    %p Ingress is an augmented reality GPS game by Google that is played on Android smartphones and tablets in the real world.
    %p
      %a.btn-default.btn{ :href=>"#{site.base_url}/ingress" }
        %i.fa.fa-gamepad.fa-2x
        %i.fa.fa-angle-double-right.fa-2x

  .col-md-4
    %a{ :href=>"#{site.base_url}/goal" }
      %h2 Our Goal
    %p Have fun while protecting humanity from the alien Shapers who are attempting to infiltrate Earth and destroy humanity.
    %p
      %a.btn-default.btn{ :href=>"#{site.base_url}/goal" }
        %i.fa.fa-trophy.fa-2x
        %i.fa.fa-angle-double-right.fa-2x

  .col-md-4
    %a{ :href=>"#{site.base_url}/comms" }
      %h2 Communications
    %p How to get in touch with the Resistance.
    %p
      %a.btn-default.btn{ :href=>"#{site.base_url}/comms" }
        %i.fa.fa-phone.fa-2x
        %i.fa.fa-angle-double-right.fa-2x

.row
  .col-md-12
    %hr
    %h3
      %i.fa.fa-youtube-play
      Video: A message from the Resistance
    .flex-video.widescreen
      %iframe{ :allowscriptaccess => "always", :allowFullScreen => "true", :frameborder => "0", :src => "http://www.youtube.com/embed/7WjJE5P3CMM", :title => "YouTube video player" }

:javascript
  $(function() {
    var intertius = Math.round((new Date(Date.UTC(2014, 4, 17, 1, 0, 0)).getTime()/1000));

    var clock = $('.interitus-countdown').flipcountdown({
        size:"sm",
        tick: function() {
                var nol = function(h){
                        return h>9?h:'0'+h;
                }
                var     range  = intertius-Math.round((new Date()).getTime()/1000),
                        secday = 86400, sechour = 3600,
                        days   = parseInt(range/secday),
                        hours  = parseInt((range%secday)/sechour),
                        min    = parseInt(((range%secday)%sechour)/60),
                        sec    = ((range%secday)%sechour)%60;
                return nol(days)+' '+nol(hours)+' '+nol(min)+' '+nol(sec);
              }
      });
  });
