---
layout: base
title: Joining the Resistance
---
.row
  .col-md-8
    %h2 #{page.title}

    %p To become a Resistance agent you will need the following:

    %ul
      %li
        A smartphone or tablet running
        %a{:href=>"http://android.com"} Android
        or iOS with access to mobile data (either directly or via tethering)
      %li
        The ingress scanner application from the
        %a{:href=>"#{site.app.android}"} Google Play store
        or from the
        %a{:href=>"#{site.app.ios}"} Apple App Store
        %p
          %a{:href=>"#{site.app.android}"}<
            %img{:src=>"/images/googleplaystore.png"}
        %p
          %a{:href=>"#{site.app.ios}"}<
            %img{:src=>"/images/appleappstore.png"}
        %p
          Or visit
          %a{:href=>"http://make.vic.blue/"}<
            %strong make.vic.blue
          on your supported mobile device.

      %li
        After running through the training missions in the scanner app be sure to select
        %strong Resistance
        as your faction.
      %li
        %em Optional:
        a
        %a{:href=>"https://plus.google.com/"} Google+
        account (while you can play alone you will be far more effective and have more fun playing with others). Find a local Google+ community on the
        %a{:href=>"/comms/"} comms page
        and
        %em Ask to join
        then use secure faction comms to post your Google+ initials so a moderator can verify your faction and application. Or just ask in faction comms, someone will be happy to help (starting out can be a bit daunting).

    %p
      The Resistance is welcoming of people of any gender or sexual identity. We have many women players that are high ranking, powerful, highly respected and who command large impactful operations. We know that the tech and by extension gaming scenes can be very male dominated but please rest assured that many players in the Resistance are open and caring and will be respectful of all new members sexual or gender identity. If you would feel safer learning to play from a woman Resistance agent or an LGBTIQ agent then please just ask in
      %strong faction comms
      within the app where the community will help you out. However never feel compelled to meet people if that's not something you want, you can of course still be an amazingly effective and fabulous agent interacting with people via comms.

    %p We have strong Resistance presence in Melbourne, Ballarat, Geelong, Bendigo and Werribee but we always need more fighters in all locations. Even in areas where there is little active fighting taking place we need scouts who can seek out high strategic portal locations that will help us defeat the aliens. No matter where you live there is important work to be done.
  .col-md-4.hidden-xs
    %img.img-responsive{ :src=> '/images/resistance.png' }

.row
  .col-md-8
    %h3 Whoops, I chose Enlightened

    %p
      If you made the wrong choice and mistakenly sided with the aliens don't worry you can always
      %a{:href=>"https://support.google.com/ingress/?contact=1#contact=1"} apply for a faction change
      and we will help you regain your previous level.
  .col-md-4.hidden-xs
    %img.img-responsive{ :src=> '/images/enlightened400px.jpg' }
