---
layout: base
title: Joining the Resistance
---
.row
  .col-md-8
    %h2 #{page.title}

    %p To become a Resistance agent you will need the following:

    %ul
      %li
        A smartphone or tablet running
        %a{:href=>"http://android.com"} Android
        or iOS with access to mobile data (either directly or via tethering)
      %li
        The ingress scanner application from the
        %a{:href=>"#{site.app.android}"} Google Play store
        or from the
        %a{:href=>"#{site.app.ios}"} Apple App Store
        %p
          %a{:href=>"#{site.app.android}"}<
            %img{:src=>"/images/googleplaystore.png"}
          %a{:href=>"#{site.app.ios}"}<
            %img{:src=>"/images/appleappstore.png"}

      %li
        After running through the training missions in the scanner app be sure to select
        %strong Resistance
        as your faction.
      %li
        %em Optional:
        a
        %a{:href=>"https://plus.google.com/"} Google+
        account (while you can play alone you will be far more effective and have more fun playing with others). Find a local Google+ community on the
        %a{:href=>"/comms/"} comms page
        and
        %em Ask to join
        then use secure faction comms to post your Google+ initials so a moderator can verify your faction and application. Or just ask in faction comms, someone will be happy to help (starting out can be a bit daunting).

    %p
      Female players are very welcome in the Victorian Resistance and we have many high ranking, powerful and highly respected female Resistance members who are more than willing to mentor new female players, just ask for details in
      %strong faction comms
      within the app.

    %p We have strong Resistance presence in Melbourne, Ballarat, Geelong, Bendigo and Werribee but we always need more fighters in all locations. Even in areas where there is little active fighting taking place we need scouts who can seek out high strategic portal locations that will help us defeat the aliens. No matter where you live there is important work to be done.
  .col-md-4.hidden-xs
    %img.img-responsive{ :src=> '/images/resistance.png' }

.row
  .col-md-8
    %h3 Whoops, I chose Enlightened

    %p
      If you made the wrong choice and mistakenly sided with the aliens don't worry you can always
      %a{:href=>"https://support.google.com/ingress/?contact=1#contact=1"} apply for a faction change
      and we will help you regain your previous level.
  .col-md-4.hidden-xs
    %img.img-responsive{ :src=> '/images/enlightened400px.jpg' }
