!!!5
%html
  %head
    %meta{ :charset=>'utf-8' }
    %title #{site.title}
    %meta{ :name=>'viewport', :content=>'width=device-width, initial-scale=1.0' }
    :css
      body {
        padding-top: 80px;
      }
    %link{ :rel=>'stylesheet', :type=>'text/css', :href=>"http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,100" }
    %link{ :rel=>'stylesheet', :type=>'text/css', :href=>"#{site.base_url}/stylesheets/styles.css" }
    /[if lt IE 9]
      %script{ :type=>'text/javascript', :src=>'//html5shim.googlecode.com/svn/trunk/html5.js' }
    %link{ :rel=>'shortcut icon', :type=>"image/png", :href=>"#{site.base_url}/images/favicon.png" }
    %link{ :rel=>'apple-touch-icon', :type=>"image/png", :href=>"#{site.base_url}/images/favicon.png" }
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.brand{ :href=>"#{site.base_url}" } #{site.short_name}
          %ul.nav
            %li{:class=>('active' if page.url =~ /^\/ingress\//)}<
              %a{ :href=>"#{site.base_url}/ingress" } About Ingress
            %li{:class=>('active' if page.url =~ /^\/goal\//)}<
              %a{ :href=>"#{site.base_url}/goal" } Our Goal
            %li{:class=>('active' if page.url =~ /^\/comms\//)}<
              %a{ :href=>"#{site.base_url}/comms" } Communications
            %li{:class=>('active' if page.url =~ /^\/report\//)}<
              %a{ :href=>"#{site.base_url}/report" } Ingress Report
            %li{:class=>('active' if page.url =~ /^\/join\//)}<
              %a{ :href=>"#{site.base_url}/join" } Join the Resistance
    .container
      .hero-unit{:style=>'background: url(\'/images/bg.jpg\') no-repeat 50% 50%;'}
        %h1 #{site.title}
        %p #{site.tagline}
        %p
          %a.btn.btn-primary.btn-large{ :href=>"#{site.base_url}/join" }
            %i.icon-info-sign.icon-white
            Join the Resistance &raquo;
      ~ content
      %hr
      %footer
        %p{ :style=>'text-align: right; font-size: 75%;' }
          Generated #{Time.now} by
          %a{ :href=>"http://awestruct.org/" } {:awestruct}
        %p{ :style=>'text-align: right; font-size: 75%;' }
          Icons from
          = succeed ',' do
            %a{ :href=>"http://glyphicons.com" } Glyphicons Free
          licensed under
          %a{ :href=>"http://creativecommons.org/licenses/by/3.0/" } CC BY 3.0
        %p{ :style=>'text-align: right; font-size: 75%;' }
          [
          %a{ :href=>"https://plus.google.com/101002254674101161051", :rel=>"publisher" } Google+
          &hellip;
          %a{ :href=>"/readme.html" } README.md
          ]

    -# Uncomment script tags (remove leading -#) when you're ready to use behaviors
    %script{ :type=>'text/javascript', :src=>'//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js' }
    %script{ :type=>'text/javascript', :src=>"#{site.base_url}/javascripts/bootstrap-collapse.js" }
    %script{ :type=>'text/javascript', :src=>"#{site.base_url}/javascripts/site.js" }
    - if site.google_analytics
      = google_analytics_async
