!!!5
%html
  %head
    %meta{ :charset=>'utf-8' }
    %title #{site.title}
    %meta{ :name=>'viewport', :content=>'width=device-width, initial-scale=1.0' }
    %meta{ :name=>'keywords', :content=>'ingress,resistance,australia,melbourne,victoria,ballarat,geelong,bendigo,augmented reality,gps,android,mobile,exercise,game,gaming,real world,aliens,scifi' }
    :css
      body {
        padding-top: 80px;
      }
    %link{ :rel=>'stylesheet', :type=>'text/css', :href=>"http://fonts.googleapis.com/css?family=Roboto+Slab:700,400,300,100" }
    %link{ :rel=>'stylesheet', :type=>'text/css', :href=>"http://fonts.googleapis.com/css?family=Coda" }
    %link{ :rel=>'stylesheet', :type=>'text/css', :href=>"//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" }
    %link{ :rel=>'stylesheet', :type=>'text/css', :href=>"#{site.base_url}/stylesheets/styles.css" }
    /[if lt IE 9]
      %script{ :type=>'text/javascript', :src=>'https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js' }
      %script{ :type=>'text/javascript', :src=>'https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js' }
      
    %link{ :rel=>'shortcut icon', :type=>"image/png", :href=>"#{site.base_url}/images/favicon.png" }
    %link{ :rel=>'apple-touch-icon', :type=>"image/png", :href=>"#{site.base_url}/images/favicon.png" }
  %body
    %nav.navbar.navbar-default.navbar-fixed-top{:role => "navigation"}
      .container
        .navbar-header
          %a.navbar-brand{ :href=>"#{site.base_url}" } #{site.short_name}
          %button.navbar-toggle{:type => "button", "data-toggle" => "collapse", "data-target" => ".navbar-collapse"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
        .navbar-collapse.collapse
          %ul.nav.navbar-nav
            %li{:class=>('active' if page.url =~ /^\/ingress\//)}<
              %a{ :href=>"#{site.base_url}/ingress" } About Ingress
            %li{:class=>('active' if page.url =~ /^\/goal\//)}<
              %a{ :href=>"#{site.base_url}/goal" } Our Goal
            %li{:class=>('active' if page.url =~ /^\/comms\//)}<
              %a{ :href=>"#{site.base_url}/comms" } Communications
            %li{:class=>('active' if page.url =~ /^\/report\//)}<
              %a{ :href=>"#{site.base_url}/report" } Ingress Report
            %li{:class=>('active' if page.url =~ /^\/join\//)}<
              %a{ :href=>"#{site.base_url}/join" } Join the Resistance
    %section{:id => "megatron", "data-speed" => "3", "data-type" => "background"}
      .jumbotron
        .container
          %h1 #{site.title}
          %p "<span class='tagline'>#{site.tagline}</span>"
          %p
            %a.btn.btn-default.btn-primary.btn-lg{ :href=>"#{site.base_url}/join" }
              %i.fa.fa-info-circle.fa-lg
              Join the Resistance
              %i.fa.fa-angle-double-right
    .container
      ~ content
      %hr
      %footer
        %p{ :style=>'text-align: right; font-size: 75%;' }
          Generated #{Time.now} by
          %a{ :href=>"http://awestruct.org/" } {:awestruct}
        %p{ :style=>'text-align: right; font-size: 125%;' }
          %a{ :href=>"https://plus.google.com/101002254674101161051", :rel=>"publisher" }
            %i.fa.fa-google-plus-square
          %a{ :href=>"/readme.html" }
            %i.fa.fa-question-circle

    -# Uncomment script tags (remove leading -#) when you're ready to use behaviors
    %script{ :type=>'text/javascript', :src=>"//codeorigin.jquery.com/jquery-1.10.2.min.js" }
    %script{ :type=>'text/javascript', :src=>"//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js" }
    %script{ :type=>'text/javascript', :src=>"#{site.base_url}/javascripts/site.js" }
    - if site.google_analytics
      = google_analytics_async
