---
layout: base
title: Communications
---
.row
  .span12
    :textile
      h2. #{page.title}

      Once you have your invite and have activated your scanner you should _"ask to join"_ any local communities below and reach out to your nearby fellow Resistance agents via faction comms. They can help you with portal locations, supplies, tactics, levelling up and the best places for food and drinks when the Ingressing gets too much (or you're waiting for a portal to cool down).
.row
  .span12
    :textile
      h3. Resistance Area Comms
.row
  .span4
    :textile
      h4. Victoria Wide

      After you _"ask to join"_ this community go to "ingress.com/intel":http://ingress.com/intel and centre your map over Melbourne then in faction chat broadcast your Google+ initials to prove your Resistance credentials e.g. _"request to join g+ group, my initials are JB @nicktorious @nylonee @puddle @simonoid"_ or if you already know a Resistance member ask them to vouch for you in the group and a mod will invite you.

      The _@nicktorious @nylonee @puddle @simonoid_ part makes it easier for our mods to see your request and add you to the community quicker.

      This community is for verified Resistance members only.
    %p
      %a.btn{ :href=>"#{site.base_url}/community" } Visit Community &raquo; 

  .span4
    :textile
      h4. Geelong

      To join this community use the same method as described for the _Victoria Wide_ community but instead centre the map over Geelong and change the broadcast to: _"request to join Geelong group, my initials are JB"_.

      This community is for verified Resistance members only.
    %p
      %a.btn{ :href=>"#{site.base_url}/geelong" } Visit Community &raquo; 
  .span4
    :textile
      h4. Ballarat

      To join this community use the same method as described for the _Victoria Wide_ community but instead centre the map over Ballarat and change the broadcast to: _"request to join Ballarat group, my initials are JB"_.

      This community is for verified Resistance members only.
    %p
      %a.btn{ :href=>"#{site.base_url}/ballarat" } Visit Community &raquo; 
.row
  .span4
    :textile
      h4. North East Melbourne

      To join this community use the same method as described for the _Victoria Wide_ community but instead centre the map over North East Melbourne and change the broadcast to: _"request to join North East Melbourne group, my initials are JB"_.

      This community is for verified Resistance members only.
    %p
      %a.btn{ :href=>"#{site.base_url}/nemelb" } Visit Community &raquo; 
  .span4
    :textile
      h4. The Cabal

      Do good high impact work and you will get a tap on the shoulder.

      Invite only for highly active and effective players.
.row
  .span12
    :textile
      h3. General comms
.row
  .span4
    %h4 Latest News
    %p Keep up to date with our latest exploits.
    %p
      %a.btn{ :href=>"#{site.base_url}/recruit" } Visit Page &raquo; 
  .span4
    :textile
      h4. All Faction

      The Enlightened are people too (albeit misguided foolish people). General chat for all Ingress players in Victoria can be had in this community. This is where you can organise meet ups, cease fires, etc.

      This community is for verified Ingress players to post, but it is public for anyone to read. To verify first _"ask to join"_ the community and then go to the Intel site, centre your map over Melbourne and broadcast on *public comms*: _"request to join all faction group, my initials are JB"_ (using your own initials of course).
    %p
      %a.btn{ :href=>"https://plus.google.com/communities/109159165616111304786" } Visit Community &raquo;


.row
  .span12
    %hr
    %h3
      %img{ :src=>"/images/warning_sign.png" }
      Beware of spies
    :textile
      We are aware that Enlightened have spy agents in our communities and our secure faction comms. Keep this in mind when you are planning large impact operations, only communicate with agents you know and trust via more direct and secure communications methods such as _Google+ Hangouts_. Feeding misinformation to spies can sometimes be handy.
